

.text {
    font-size: 35px;
    text-decoration: none;
    text-align: center;
    padding: 0;
}

.platos {
    background: #ccc;
}

.parrafo {
    padding-top: 100px;
    padding-bottom: 100px;
}

.titulo {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 130px;
    margin-top: 60px;
}

.palabra-clave {
    color: #FE9A2E;
}


